@import "tailwindcss";

:root {
  --bg:    #0b0b0f;
  --text:  #e5e7eb;
  --muted: #9ca3af;
  --brand: #6ea8ff; /* tweak later */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

